<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>debugmode</key>
	<false/>
	<key>chorus</key>
	<array>
		<dict>
			<key>characterName</key>
			<string>piano</string>
			<key>position</key>
			<string>396,-74</string>
			<key>position-iphone</key>
			<string>215,-75</string>
			<key>scale</key>
			<integer>1</integer>
			<key>scale-iphone</key>
			<real>0.5</real>
			<key>zPosition</key>
			<string>1</string>
			<key>playingAnimationAtlas</key>
			<string>piano</string>
			<key>playingAnimationFrames</key>
			<array>
				<string>playing1</string>
				<string>playing2</string>
				<string>playing3</string>
				<string>playing4</string>
				<string>playing5</string>
				<string>playing6</string>
				<string>playing7</string>
				<string>playing8</string>
			</array>
		</dict>
		<dict>
			<key>characterName</key>
			<string>guitar</string>
			<key>position</key>
			<string>164,-82</string>
			<key>position-iphone</key>
			<string>89,-75</string>
			<key>scale</key>
			<integer>1</integer>
			<key>scale-iphone</key>
			<real>0.5</real>
			<key>zPosition</key>
			<string>1</string>
			<key>playingAnimationAtlas</key>
			<string>guitar</string>
			<key>playingAnimationFrames</key>
			<array>
				<string>playing1</string>
				<string>playing2</string>
				<string>playing3</string>
				<string>playing4</string>
				<string>playing5</string>
				<string>playing6</string>
				<string>playing7</string>
				<string>playing8</string>
			</array>
		</dict>
		<dict>
			<key>characterName</key>
			<string>drummer</string>
			<key>position</key>
			<string>-104,-101</string>
			<key>position-iphone</key>
			<string>-47,-83</string>
			<key>scale</key>
			<integer>1</integer>
			<key>scale-iphone</key>
			<real>0.5</real>
			<key>zPosition</key>
			<string>1</string>
			<key>playingAnimationAtlas</key>
			<string>drummer</string>
			<key>playingAnimationFrames</key>
			<array>
				<string>playing1</string>
				<string>playing2</string>
				<string>playing3</string>
				<string>playing4</string>
				<string>playing5</string>
				<string>playing6</string>
				<string>playing7</string>
				<string>playing8</string>
			</array>
		</dict>
		<dict>
			<key>characterName</key>
			<string>singer</string>
			<key>position</key>
			<string>-337,-77</string>
			<key>position-iphone</key>
			<string>-187,-74</string>
			<key>scale</key>
			<integer>1</integer>
			<key>scale-iphone</key>
			<real>0.5</real>
			<key>zPosition</key>
			<string>1</string>
			<key>playingAnimationAtlas</key>
			<string>singer</string>
			<key>playingAnimationFrames</key>
			<array>
				<string>playing1</string>
				<string>playing2</string>
				<string>playing3</string>
				<string>playing4</string>
				<string>playing5</string>
				<string>playing6</string>
				<string>playing7</string>
				<string>playing8</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
